<div class="container">
	<h2>Welcome to index</h2>
	
	<div class="container">
		<div class="row">
				
				<% @poems.each do |poem| %>
				<h3> <%= link_to poem.title, poem_path(poem) %></h3>				

				<% end %>
			</div>
		</div>
	</div>
</div>