<% if @search.search_poems.empty? %>
	No results
<%else %>
 <%= @search.search_poems.count %> Results
 <% @search.search_poems.each  do |poem| %>
				<h3> <%= link_to poem.title, poem_path(poem)%> <small>created by <strong><%= poem.user.first_name%></strong> <%= time_ago_in_words(poem.created_at) %> ago</small></h3>
				<hr/>				

<% end %>
<% end %>